name: Prettier Format

on:
  push:
    branches: [main]

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}

      - name: Run Prettier
        uses: creyP/prettier_action@v4.6
        with:
          prettier_options: --write "frontend/src/**/*.{js,ts,jsx,tsx,vue,css,scss}"
          commit_message: "chore: format code with prettier"
